body {
    font-family: 'Jersey 15', sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 400;
    font-style: bold;
}
h2 {
    font-weight: 400;
    font-style: normal;
    color: #333;
}
h3 {
    font-weight: 400;
    font-style: normal;
    color: #666;
}
a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF14C4;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
a.button:hover {
    background-color: #fa05bd;
}

a {
    color: #fa05bd;
    text-decoration: none;
    background: none;
    padding: 0;
}

@media only screen and (max-width: 400px) {
    .card {
        width: 90%;
        height: 90%;
    }
}